
<table style="width:100%">
  <tr>
    <th style="width:15%">Date</th>
    <th>Workshop</th>
    <th>Prerequisites</th>
    <th>Etherpad</th>
  </tr>
  <tr>
    <td>October 1</td>
    <td><a href = "https://uw-madison-datascience.github.io/gitlab-novice-branch-pr/">Unix shell</a></td>
    <td>You need to be familiar with all of the commands taught in <a href = "http://swcarpentry.github.io/shell-novice/">this Unix Shell lesson</a>.</td>
    <td><a href = "https://pad.carpentries.org/2024-09-25-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
    <td>Oct 23-24</td>
      <td><a href = "https://carpentries-incubator.github.io/docker-introduction/index.html">Intro to Docker</a></td>
    <td>You need to be familiar with all of the commands taught in <a href= "http://swcarpentry.github.io/shell-novice/">this Unix Shell lesson</a>.</td>
    <td><a href = "https://pad.carpentries.org/2024-10-23-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
    <td>Nov 6</td>
     <td><a href = "https://carpentries-incubator.github.io/python-interactive-data-visualizations/">Interactive Data Visualizations in Python and Streamlit</a></td>
    <td>You need to have a base familiarity with <a href = "http://swcarpentry.github.io/python-novice-gapminder/">Python</a>. Knowledge of GitHub and Unix shell will be helpful, but not required.</td>
    <td><a href = "https://pad.carpentries.org/2024-11-06-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
    <td>Nov 20-21</td>
    <td><a href = "https://uw-madison-datascience.github.io/machine-learning-novice-sklearn/">Intro to Machine Learning</a></td>
    <td>You need to have a basic familiarity with Python.</td>
    <td><a href = "https://pad.carpentries.org/2024-11-20-uwmadison-mini">Etherpad</a></td>
  </tr>
</table>
