
<table style="width:100%">
  <tr>
    <th style="width:15%">Date</th>
    <th>Workshop</th>
    <th>Prerequisites</th>
    <th>Etherpad</th>
  </tr>
  <tr>
    <td>Oct 1</td>
    <td><a href = "https://uw-madison-datascience.github.io/gitlab-novice-branch-pr/">Unix shell</a></td>
    <td>You need to be familiar with all of the commands taught in <a href = "http://swcarpentry.github.io/shell-novice/">this Unix Shell lesson</a>.</td>
    <td><a href = "https://pad.carpentries.org/2025-10-01-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
        <td>Oct 15-16</td>
    <td><a href = "https://uw-madison-datascience.github.io/gitlab-novice-branch-pr/">git/GitLab</a></td>
    <td>You need to be familiar with all of the commands taught in <a href = "http://swcarpentry.github.io/shell-novice/">this Unix Shell lesson</a>.</td>
    <td><a href = "https://pad.carpentries.org/2025-10-01-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
     <td>Oct 23-24</td>
      <td><a href = "https://carpentries-incubator.github.io/docker-introduction/index.html">Intro to Docker/Podman</a></td>
    <td>You need to be familiar with all of the commands taught in <a href= "http://swcarpentry.github.io/shell-novice/">this Unix Shell lesson</a>.</td>
    <td><a href = "https://pad.carpentries.org/2025-10-01-uwmadison-mini">Etherpad</a></td>
  </tr>
  <tr>
   <td>Oct 29</td>
     <td><a href = "https://carpentries-incubator.github.io/python-interactive-data-visualizations/">Interactive Data Visualizations in Python and Streamlit</a></td>
    <td>You need to have a base familiarity with <a href = "http://swcarpentry.github.io/python-novice-gapminder/">Python</a>. Knowledge of GitHub and Unix shell will be helpful, but not required.</td>
    <td><a href = "https://pad.carpentries.org/2025-10-01-uwmadison-mini">Etherpad</a></td>
  </tr>
</table>
